.container-fluid {
    padding-top: 15px;
}

.row {
    margin: 0;
}

.col-left, .col-right {
    padding: 0;
}

.col-right {
    padding-left: 15px;
}

.panel {
    margin-bottom: 15px;
}

/* Adjust layout */

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* Vertically center the modal */

.modal-dialog {
    width: 500px;
}

.modal-header, .modal-footer {
    padding: 10px;
    text-align: center;
}

.modal-body p {
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
}

/* Modify modal's style */

.label-mark {
    color: red;
}

.div-alert {
    z-index: 1000;
    position: fixed;
    top: 15px;
    right: 15px;
}

.div-alert .alert {
    padding: 10px;
    margin-bottom: 10px;
}

/* Alert box */

.div-toolkit {
    position: absolute;
    display: none;
    padding: 5px;
    background: #EFEFEF;
    border-radius: 6px;
    z-index: 999;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    border: #bbb 1px solid;
}

.div-toolkit .input-group {
    width: 160px;
}

.div-toolkit .input-group input,
.div-toolkit .input-group li,
.div-toolkit .checkbox {
    font-size: 18px;
}

.ul-classes-list {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

/* Marker toolkit */
.btns-zoom{
    margin: -5px 0;
}

.div-container {
    position: relative;
    margin: -15px;
    height: calc(100vh - 73px);
    overflow-y: auto;
}

.div-container img {
    position: relative;
    top: 0;
    left: 0;
}

.div-container .img-bndbox {
    position: absolute;
    background: #EFEFEF;
    opacity: 0.6;
}

/* Left panel */

.div-btns {
    margin-bottom: 15px;
}

.div-files-list {
    position: relative;
    max-height: 310px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 0;
}

.div-files-list .list-group-item {
    padding: 5px 10px;
}

.div-marks-list {
    position: relative;
    max-height: 100px;
    overflow: auto;
    overflow-x: hidden;
    margin-bottom: 0;
}

.div-marks-list .btn-group {
    margin-right: 5px;
    margin-bottom: 5px;
}

.div-marks-list .btn-group > .btn-danger {
    padding-left: 5px;
    padding-right: 5px;
}

/* Right panel */