.tips{
    z-index: 1000;
    position: fixed;
    top: 15px;
    right: 15px;
}

.tips .alert{
    padding: 10px;
    margin-bottom: 10px;
}


.left-col {
    margin-top: 15px;
    padding-right: 0;
}

.right-col {
    margin-top: 15px;
    position: fixed;
    top: 0;
    right: 0
}

.btns-ctrl {
    margin-bottom: 15px;
}

.list-files {
    position: relative;
    max-height: 310px;
    overflow: auto;
    overflow-x:hidden;
    margin-bottom: 0;
}

.div_objects {
    position: relative;
    max-height: 100px;
    overflow: auto;
    overflow-x:hidden;
    margin-bottom: 0;
}

.list-group-item{
   padding: 5px 10px;
}

.div-img {
    position: relative;
}

.img-bndbox{
    position:absolute;
    background:#EFEFEF;
    opacity: 0.6;
}

#img{
    position: relative;
    top: 0;
    left: 0;
}

.dlg-marker {
    position:absolute;
    display: none;
    padding: 5px;
    background:#EFEFEF;
    border-radius:3px;
    z-index: 999;
}

.checkbox{
    font-size: 18px;
}

.btn-delete, .btn-hide {
    margin-left: 5px;
    margin-top: 3px;
}

.del_object{
    color: red;
}

.checkbox{
    padding-top: 0;
    min-height: 0;
}

.btn-group{
    margin-right: 5px;
    margin-bottom: 5px;
}

.btn-group > .btn-danger {
    padding-left: 5px;
    padding-right: 5px;
}

.classes-group{
    width: 160px;
}

#classes{
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}